[Unit]
Description=Telegram
After=network.target

[Service]
ExecStart=/home/devjo/Project/mousehunter-edge/mausjaeger/start_telegram.sh
WorkingDirectory=/home/devjo/Project/mousehunter-edge
StandardOutput=inherit
StandardError=inherit
Restart=always
User=devjo

[Install]
WantedBy=multi-user.target
